# Zmień nazwę tego pliku na .env i uzupełnij klucze API
# Klucz API dla serpdata.io
SERPDATA_API_KEY="TWÓJ_KLUCZ_SERPDATA_API"

# Klucz API dla OpenRouter (lub bezpośrednio OpenAI jeśli zdecydujesz się zmienić)
OPENROUTER_API_KEY="TWÓJ_KLUCZ_OPENROUTER_API"

# Opcjonalnie, jeśli chcesz używać bezpośrednio API OpenAI:
# OPENAI_API_KEY="TWÓJ_KLUCZ_OPENAI_API"
